<!DOCTYPE html>
<html>
<!--<![endif]-->
<head id="Head1">
    <!-- <link rel="search" type="application/opensearchdescription+xml" title="redBus" href="opensearch.xml" /> -->
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
    <!--[if lt IE 10]>
            <div class="MB"><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p></div>
        <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- DNS prefetch -->
    <link rel="dns-prefetch" href="//s1.rdbuz.com" />
    <link rel="dns-prefetch" href="//s2.rdbuz.com" />
    <link rel="dns-prefetch" href="//s3.rdbuz.com" />

    <link href="../../../favicon.ico" rel="shortcut icon" />
    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="Keywords" content="online bus ticket booking, bus booking, volvo ac bus booking, bus ticket booking, bus tickets" />
    <meta id="page_name" content="HOME" />

    <meta property="og:title" content="India&#x27;s No #1 Bus Ticket Booking Company, Volvo, AC and RTC Buses - redBus.in" />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="www.redbus.in" />
    <meta property="og:image" href="http://s3.rdbuz.com/assets/images/logo/b_logo.png" />
    <meta property="og:site_name" content="redBus" />
    <meta property="og:description" content="Compare and Book online bus tickets in India. Find best prices and discounts on all Volvo, AC and sleeper buses in India." />
            <link rel="alternate" media="only screen and (max-width:640px)" href="https://m.redbus.in/" />
            <meta name="google-site-verification" content="xF6UvOJWcDUSenssBr8T9uGa_htW-2h3XbU9FAv9sQ8" />
            <script type='application/ld+json'>
                {

"@context":"http://schema.org",
                "@type":"Organization",
                "name":"redBus India",
                "url":"https://www.redbus.in/",
                "foundingDate":"2006",
                "parentOrganization":[{
"@type":"Organization",
"name":"Ibibo Group Pvt Ltd"                }
                ],   

                "address":{
"type":"PostalAddress",
"streetAddress":"3rd Floor Karle Premium",
"addressLocality":"#1 Old Airport Road, Opp. Manipal Hospital, Kodihalli",
"addressRegion":"Bangalore",
"postalCode":"560008",
"addressCountry":"INDIA"                },
                "contactPoint":[{
"@type":"ContactPoint",
"telephone":"+91 80 39412345",
"contactType":"Customer Service ( Call Center)",
"email":"support@redbus.in"}],
                "sameAs":[
                
"https://www.facebook.com/redBus.in/",
"https://en.wikipedia.org/wiki/Redbus.in/"                
                ]
                }
            </script>
                <meta name="robots" content="noodp" />

    
    
    <link href="../../static/css/rb/stylerb.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Book Bus Travels, AC Volvo Bus, Hotels &amp; Bus Hire - redBus</title>
<!-- DNS prefetch -->
<link rel="dns-prefetch" href="//s1.rdbuz.com" />
<link rel="dns-prefetch" href="//s2.rdbuz.com" />
<link rel="dns-prefetch" href="//s3.rdbuz.com" />
<link href="../../../favicon.ico" rel="shortcut icon" />
<!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="Keywords" content="online bus ticket booking, bus booking, volvo ac bus booking, bus ticket booking, bus tickets" />
<meta name="description" content="redBus India world&#x2019;s largest online bus ticketing platform offers bus travels, ac volvo bus, hotels &amp; bus hire at best rates. Easy cancellation &amp; Instant refund." />
<link rel="canonical" href="https://www.redbus.in">

    <script>
        var page = 'HOME';
    </script>

                  <!--session stack code snippet.to be put in head always-->
        <script type="text/javascript">
!function(a,b){var c=window;c.SessionStack=a,c[a]=c[a]||function(){
c[a].q=c[a].q||[],c[a].q.push(arguments)},c[a].t=b;var d=document.createElement("script");
d.async=1,d.src="https://cdn.sessionstack.com/sessionstack.js";
var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(d,e);
}("sessionstack","04803706d7f74b008634525dde31ca98");
</script>
<!--session stack code snippet.to be put in head always-->

</head>
<body>
    <header id="rh_header" class="home-only-header fixer1">
                <div class="main-header-row">
                    <div class="main-header clearfix">
        <a href="javascript:void(0)" class="redbus-logo home-redirect">redbus</a>
        <div class="fl clearfix" id="page_main_header">
            <nav class="product-nav fl">
                <ul>
                                <li><a href="\dboard" title="redBus" class="selectedBus site-links"><style>.rest .promotions-wrap{margin-left:44px;margin-top:-96px;}</style>{{user}} </a></li>
                                <li><a href="\memout" title="redBus" class="selectedBus site-links"><style>.rest .promotions-wrap{margin-left:44px;margin-top:-96px;}</style>Sign Out </a></li>
                                
                </ul>
            </nav>
    
        </div>
    
        <!-- <div class="corner-wrapper fr">
                        <div class="fr config-div" tabindex="0" id="select_box_sign">
                            <div id="signin_dd">
                                <!-- <div class="fr signin-block" id="signin-block">
                                    <i id="i-icon-profile" class="icon-profile-new-unsigned "></i>
                                                                    
                                        <!-- <div id="walletbalance" class="walletBalanceHeader hide">
                                            <div id="BalanceText">  </div>
                                            <div id="Balance"> </div>
                                        </div>                                   
                                     -->
    
                                    <!-- <div id="sign-in-icon-down" class="icon-down icon ich dib icon-down_WO_BAL">
                                        <div class="hid-config-sign hide" id="hc">
                                            <div class='toparrowhead-sign'></div>
                                            <ul class="config-list">
    
                                                    <li id="signInLink" class="config-options"><a href = "{{url_for('dboard')}}">Dashboard</a></li>
                                                    <li id="signInLink" class="config-options"><a href = "\memout">Sign Out</a></li>
    
                                            </ul>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div> -->
    
            
            <div class="fr config-div manageBookHeader" tabindex="0" id="select_box_managebooking">
                <div id="manageHeaderdd">
                    
                    
            </div>
            </div>
            
        </div>
    </div>
    
                </div>
        </header>


        <div id="mBWrapper">
            
<main class="rh_content">
<section class="head-banner">
    <div class="banner-wrapper">
              <div id="image_div" style="background: url('../../static/images/b4.jpg'); background-size: cover; ">
                  <div id="welcome_image_div" style="background: url('') top center no-repeat;position: relative;z-index:0;pointer-events: none;"></div>
              </div>
        <h1 class="image-text main-header-family">Stop Looking. Start Tracking!</h1>
                <h3 class="helper-text"> Track your bus live with the redBus app </h3>
        <div id="search_div" class="clearfix">

<form action="/reqbu" method="post">
<section id="search">
    <div class="clearfix search-wrap">
        <div class="fl search-box clearfix">
            <span class="fl icon-city icon">
            </span>
            <div>
                <input type="text" name = 'source' id="src" class="db" data-message="Please enter a source city" tabindex="1" />
                <label for="src" class="db" style="left:15%">FROM</label>
                <div class="error-message-fixed "> </div>
            </div>
        </div>
        <span class="icon-doublearrow icon" id="togglebtn"></span>
        <div class="fl search-box">
            <span class="fl icon-city icon" style="margin-left: 13px;">
            </span>
            <div>
                <input type="text" name = 'dest' id="dest" class="db" data-message="Please enter a destination city" tabindex="2" />
                <label for="dest" style="left: 21%;" class="db">TO</label>
                <div class="error-message-fixed "> </div>
            </div>
        </div>
        <div class="fl search-box date-box gtm-onwardCalendar">
            <span class="fl icon-calendar_icon-new icon-onward-calendar icon">
            </span>
            <div>
                <input type="text" id="onward_cal" name="odate" class="db" readonly="readonly" tabindex="3" data-caleng=""/>
                <label for="onward_cal"  class="db text-trans-uc">Onward Date</label>
                <div class="date-error">"Onward date should be before return date"</div>
            </div>
        </div>
                <div class="fl search-box date-box gtm-returnCalendar">
                    <span class="fl icon-calendar_icon-new icon-return-calendar icon">
                    </span>
                    <div>
                        <input type="text" id="return_cal" class="db text-trans-uc " readonly="readonly" tabindex="4" data-caleng=""/>
                        <label for="return_cal"  class="db text-trans-uc tal">Return Date</label>
                    </div>
                         <label id="lblOptional" style="color: #F4F9ED; font-size: 12px; font-style:italic; margin-right: 38px;">(Optional)</label>
                </div>
        <button id="search_btn" class="fl button">Search Buses</button>
    </div>
</section>
</form>
        </div>
    </div>
</section>                  <div class="rest">



    <script>
    
   </script>
        

</div>

        <div id="add_on_div">
            <section>
                <div class="main-body">
                    <div class="tac main-header-family rest1 heading-1 main-head-cont">
                        UNIQUE ONLINE BUS BOOKING PLATFORM
                    </div>
                    
                    <div>
                        <div class="clearfix sub-wrapper rest1">
                            <div class="fl  sub-container rest1 appear-first animate clearfix pR">
                                <div class="rest1 tac imgCont fl w-30 pA rd-img-cont">
                                    <img src=//s3.rdbuz.com/web/images/Offers/Red_DealsCreative.png height="130" />
                                </div>
                                <div class="fl w-60 sub-col-2">
                                    <div class="head rest1">
                                        RED DEALS
                                    </div>
                                    <div class="desc rest1">
                                        Get a little extra! Additional discounts sponsored by your favorite bus operators exclusively on bus tickets booked via redBus
                                    </div>
                                </div>
                            </div>
                            <div class="fr  sub-container rest1 appear-second animate clearfix pR">
                                <div class="rest1 tac imgCont fl w-30 pA">
                                    <img src=//s3.rdbuz.com/web/images/home/multimedia_icon.png height="160" />
                                </div>
                                <div class="fl w-60 sub-col-2">
                                    <div class="head rest1">
                                        RATINGS AND PICTURE REVIEWS
                                    </div>
                                    <div class="desc rest1">
                                        Rely on ratings and actual photos from fellow travellers to choose your bus!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="clearfix sub-wrapper rest1">
                            <div class="fl  sub-container rest1 appear-first animate clearfix pR">
                                <div class="rest1 tac imgCont fl w-30 pA">
                                    <img src=//s3.rdbuz.com/web/images/home/rest_stops.png height="120" style="margin-top: 23px;"/>
                                </div>
                                <div class="fl w-60 sub-col-2">
                                    <div class="head rest1">
                                        REST STOPS
                                    </div>
                                    <div class="desc rest1">
                                        Get information on rest stops along the way.
                                    </div>
                                </div>
                            </div>
                            <div class="fr  sub-container rest1 appear-second animate clearfix pR">
                                <div class="rest1 tac imgCont fl w-30 pA">
                                    <img src=//s3.rdbuz.com/web/images/home/GPS_tracking_icon.png height="150" />
                                </div>
                                <div class="fl w-60 sub-col-2">
                                    <div class="head rest1">
                                        LIVE TRACKING
                                    </div>
                                    <div class="desc rest1">
                                        Track your bus with our &#x2018;Track My Bus&#x2019; feature and know the exact location in real-time.Stay informed and keep your family informed!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="border-separator">

        </div>
<div id="advantage_div">
    <section>
        <div class="aw main-body">
            <div class="ah heading-1 main-header-family rest1">
                <div class="dib"><img src=//s1.rdbuz.com/web/images/home/promise.png height="100"/></div>
                <div class="promise-head-main"> We promise to deliver</div>
            </div>
            <div class="ad rest1">
                
            </div>
            <div class="clearfix aa our-promise-blocks" id="advantage">
                <div class="fl rest1 appear-first">
                    <div class="imgCont rest1 animate">
                        <img src=//s3.rdbuz.com/web/images/home/maximum_choices.png height="90"/>
                    </div>
                    <div class="tilleBlock rest1 animate">
                        MAXIMUM CHOICE
                    </div>
                    <div class="second-level-heading descCont rest1 animate">
                        We give you the widest number of travel options across thousands of routes.
                    </div>
                </div>
                    <div class="fl rest1 appear-second">
                        <div class="imgCont rest1 animate">
                            <img src=//s1.rdbuz.com/web/images/home/customer_care.png height="100"/>
                        </div>
                        <div class="tilleBlock rest1 animate">
                            SUPERIOR CUSTOMER SERVICE
                        </div>
                        <div class="second-level-heading descCont rest1 animate">
                            We put our experience and relationships to good use and are available to solve your travel issues.
                        </div>
                    </div>
                <div class="fl rest1 appear-third">
                    <div class="imgCont rest1 animate">
                        <img src=//s1.rdbuz.com/web/images/home/lowest_Fare.png height="90"/>
                    </div>
                    <div class="tilleBlock rest1 animate">
                        LOWEST PRICES
                    </div>
                    <div class="second-level-heading descCont rest1 animate">
                        We always give you the lowest price with the best partner offers. 
                    </div>
                </div>
                <div class="fl rest1 appear-fourth">
                    <div class="imgCont rest1 animate">
                        <img src=//s2.rdbuz.com/web/images/home/benefits.png height="90"/>
                    </div>
                    <div class="tilleBlock rest1 animate">
                        UNMATCHED BENEFITS
                    </div>
                    <div class="second-level-heading descCont rest1 animate">
                        We take care of your travel beyond ticketing by providing you with innovative and unique benefits.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="border-separator">

</div>
</div>
<div class="border-separator">
<div class="border-separator">

</div>
         </div>
</main>
<div class="resumebooking hide" id='resume'>
    <div><div class="close" style="color:rgba(255, 255, 255, 1);cursor:pointer;font-size:13px;float:right;padding:1px 3px" onclick="parent._taq.fns.__notifclose(0,&quot;c4447-nid-3345&quot;,&quot;3345&quot;)">✕</div><div class="content" style="color:rgba(243, 246, 255, 0);font-size:12px;font-family:arial, helvetica, sans-serif;padding:5px 10px;">

<style>
.content1{
        transition: width 2s;
	padding:0px !important;
}
.close{
height : 10px !important;
position:relative;
z-index:9999;
}
.main1 {
	height:auto;
	width:420px;
}
.child1 {
	display:block;
	width:420px;
	background-color:#4a4a4a;
}
.layer {
	height: 36px;
	font-family: Lato;
	font-size: 30px;
	text-align: center;
	color: #f7f7f7;
	display:block;
}
.weekday {
	height: 19px;
	font-family: Lato;
	font-size: 16px;
	text-align: center;
	color: #f7f7f7;
	display:block;
}
.year {
	height: 19px;
	font-family: Lato;
	font-size: 16px;
	text-align: center;
	color: #f7f7f7;
	display:block;
}
.Group-2 {
	height: 46.2px;
	object-fit: contain;
	padding:14px;
}
.location {
	font-family: Lato;
	font-size: 20px;
	line-height: 1.4;
	color: #f4f4f4;
}
.available {
 font-family: Lato;
	font-size: 18px;
	color: #02b875;
}
.offer {
 font-family: Lato;
	font-size: 16px;
	color: #f4f4f4;
	margin-top:10px;
	margin-bottom:13px;
}
.traveller {
	width: 293px;
	font-family: Lato;
	font-size: 16px;
	color: #f7f7f7;
	padding-top:14px;
}
.child2 {
  width: 420px;
  height: 45px;
  background-color: #d84e55;
  font-family:Lato;
  font-size:16.8px;
  font-weight:bold;
  border:none;
  color:#ffffff;
}
a .child21{
  color:#ffffff;
  padding:13px 130px 13px 130px;
  position:absolute;
  text-decoration:none;
  width:100%;
}
</style>
<script type="text/javascript">
<!--
//name();
//function name(){
//javascript:parent.transit1();

-->
</script>
    
<div class="main1">
<!--<div style="right: 2px;position: absolute;color:white;">x</div>-->
  <div class="child1">
    <div style="display:inline-block;height:158px;padding-left:10px;width:117px;">
      <div class="Group-2">
        <center>
          <img src="https://cdn-jp.gsecondscreen.com/static/clients/images/fc0f4120-f635-4120-a30f-cdeaaa40593c/67e060bb-225e-4a11-be9b-35b895ad9aa4">
        </center>
      </div>
      <div class="layer">13</div>
      <div class="weekday">Saturday</div>
      <div class="year">Jan-2018</div>
    </div>
    <div style="display:inline-block;position:absolute;height:158px;">
      <div class="location">
        <p style="margin-top:10px;margin-bottom:13px;"></p>
      </div>
      <div class="available">Seats Available </div>
      <div class="offer">Save upto Rs. 400 on this trip</div>


      <div class="traveller"> Evacay Bus </div>
    </div>
  </div>
  <div class="child2">
  <a class="child21" id="bookBtn" href="">Finish Your Booking</a>
  </div>
</div>



</div>
</div>
</div>
<div class="BookReturn hide" id='bookreturn'>
    <div><div class="close" style="color:rgba(255, 255, 255, 1);cursor:pointer;font-size:13px;float:right;padding:1px 3px" onclick="parent._taq.fns.__notifclose(0,&quot;c4447-nid-3345&quot;,&quot;3345&quot;)">✕</div><div class="content" style="color:rgba(243, 246, 255, 0);font-size:12px;font-family:arial, helvetica, sans-serif;padding:5px 10px;">

<style>
.content1{
        transition: width 2s;
	padding:0px !important;
}
.close{
height : 10px !important;
position:relative;
z-index:9999;
}
.main1 {
	height:auto;
	width:420px;
}
.child1 {
	display:block;
	width:420px;
	background-color:#4a4a4a;
}
.layer {
	height: 36px;
	font-family: Lato;
	font-size: 30px;
	text-align: center;
	color: #f7f7f7;
	display:block;
}
.weekday {
	height: 19px;
	font-family: Lato;
	font-size: 16px;
	text-align: center;
	color: #f7f7f7;
	display:block;
}
.year {
	height: 19px;
	font-family: Lato;
	font-size: 16px;
	text-align: center;
	color: #f7f7f7;
	display:block;
}
.Group-2 {
	height: 46.2px;
	object-fit: contain;
	padding:14px;
}
.location {
	font-family: Lato;
	font-size: 20px;
	line-height: 1.4;
	color: #f4f4f4;
}
.available {
 font-family: Lato;
	font-size: 18px;
	color: #02b875;
}
.offer {
 font-family: Lato;
	font-size: 16px;
	color: #f4f4f4;
	margin-top:10px;
	margin-bottom:13px;
}
.traveller {
	width: 293px;
	font-family: Lato;
	font-size: 16px;
	color: #f7f7f7;
	padding-top:14px;
}
.child2 {
  width: 420px;
  height: 45px;
  background-color: #d84e55;
  font-family:Lato;
  font-size:16.8px;
  font-weight:bold;
  border:none;
  color:#ffffff;
}
a .child21{
  color:#ffffff;
  padding:13px 130px 13px 130px;
  position:absolute;
  text-decoration:none;
  width:100%;
}
</style>
<script type="text/javascript">
<!--
//name();
//function name(){
//javascript:parent.transit1();

-->
</script>
    
<div class="main1">
<!--<div style="right: 2px;position: absolute;color:white;">x</div>-->
  <div class="child1">
    <div style="display:inline-block;height:158px;padding-left:10px;width:117px;">
      <div class="Group-2">
        <center>
          <img src="https://cdn-jp.gsecondscreen.com/static/clients/images/fc0f4120-f635-4120-a30f-cdeaaa40593c/67e060bb-225e-4a11-be9b-35b895ad9aa4">
        </center>
      </div>
      <div class="layer">13</div>
      <div class="weekday">Saturday</div>
      <div class="year">Jan-2018</div>
    </div>
    <div style="display:inline-block;position:absolute;height:158px;">
      <div class="location">
        <p style="margin-top:10px;margin-bottom:13px;"></p>
      </div>
      <div class="available">Seats Available </div>
      <div class="offer">Save upto Rs. 400 on this trip</div>


      <div class="traveller"> Evacay Bus </div>
    </div>
  </div>
  <div class="child2">
  <a class="child21" id="bookBtn" href="">Finish Your Booking</a>
  </div>
</div>



</div>
</div>
</div>
<div class="BookAgain hide" id='bookagain'>
    <div><div class="close" style="color:rgba(255, 255, 255, 1);cursor:pointer;font-size:13px;float:right;padding:1px 3px" onclick="parent._taq.fns.__notifclose(0,&quot;c4447-nid-3345&quot;,&quot;3345&quot;)">✕</div><div class="content" style="color:rgba(243, 246, 255, 0);font-size:12px;font-family:arial, helvetica, sans-serif;padding:5px 10px;">

<style>
.content1{
        transition: width 2s;
	padding:0px !important;
}
.close{
height : 10px !important;
position:relative;
z-index:9999;
}
.main1 {
	height:auto;
	width:420px;
}
.child1 {
	display:block;
	width:420px;
	background-color:#4a4a4a;
}
.layer {
	height: 36px;
	font-family: Lato;
	font-size: 30px;
	text-align: center;
	color: #f7f7f7;
	display:block;
}
.weekday {
	height: 19px;
	font-family: Lato;
	font-size: 16px;
	text-align: center;
	color: #f7f7f7;
	display:block;
}
.year {
	height: 19px;
	font-family: Lato;
	font-size: 16px;
	text-align: center;
	color: #f7f7f7;
	display:block;
}
.Group-2 {
	height: 46.2px;
	object-fit: contain;
	padding:14px;
}
.location {
	font-family: Lato;
	font-size: 20px;
	line-height: 1.4;
	color: #f4f4f4;
}
.available {
 font-family: Lato;
	font-size: 18px;
	color: #02b875;
}
.offer {
 font-family: Lato;
	font-size: 16px;
	color: #f4f4f4;
	margin-top:10px;
	margin-bottom:13px;
}
.traveller {
	width: 293px;
	font-family: Lato;
	font-size: 16px;
	color: #f7f7f7;
	padding-top:14px;
}
.child2 {
  width: 420px;
  height: 45px;
  background-color: #d84e55;
  font-family:Lato;
  font-size:16.8px;
  font-weight:bold;
  border:none;
  color:#ffffff;
}
a .child21{
  color:#ffffff;
  padding:13px 130px 13px 130px;
  position:absolute;
  text-decoration:none;
  width:100%;
}
</style>
<script type="text/javascript">
<!--
//name();
//function name(){
//javascript:parent.transit1();

-->
</script>
    
<div class="main1">
<!--<div style="right: 2px;position: absolute;color:white;">x</div>-->
  <div class="child1">
    <div style="display:inline-block;height:158px;padding-left:10px;width:117px;">
      <div class="Group-2">
        <center>
          <img src="https://cdn-jp.gsecondscreen.com/static/clients/images/fc0f4120-f635-4120-a30f-cdeaaa40593c/67e060bb-225e-4a11-be9b-35b895ad9aa4">
        </center>
      </div>
      <div class="layer">13</div>
      <div class="weekday">Saturday</div>
      <div class="year">Jan-2018</div>
    </div>
    <div style="display:inline-block;position:absolute;height:158px;">
      <div class="location">
        <p style="margin-top:10px;margin-bottom:13px;"></p>
      </div>
      <div class="available">Seats Available </div>
      <div class="offer">Save upto Rs. 400 on this trip</div>


      <div class="traveller"> Evacay Bus </div>
    </div>
  </div>
  <div class="child2">
  <a class="child21" id="bookBtn" href="">Book Again</a>
  </div>
</div>



</div>
</div>
</div>
        </div>
        <div class="exit-reshedule-confirm hide">
           
            <p>Do you want to exit reschedule flow?</p>
            <div class="exit-btns-grp">
                <button type="button" class="exit-reschedule-btns" id="exit-reschedule">Yes</button>
                <button type="button" class="exit-reschedule-btns" id="">No</button>

            </div>
        </div>
        <footer id="rh_footer">
               
<div class="footer-row">
    <div class="clearfix promotion  main-body rest1">
        <div class="w-100 pR fl footer-links">
                <div class="dib foot-wrapper">
                    <div class="row fl">
                        <div class="dib">
                    </div>
                    <div class="row fl">
                        <div class="dib">
                            
                    <div class="row fl">
                        <div class="dib">
                        
                </div>
            
            <div class="fr rights-cont">
                <div class="img-cont">
            
                </div>
                <div>
                    This software was proudly produced by IIIT-A students as part of our esteemed course Software Engineering under the invaluable guidance of Mr. Akash Verma and Mr. Vishesh Middha. Our special thanks to Honorable Mr. Bagesh Kumar who kept our spirits high throughout the semester.    
                </div>
                    <div id="social-media">
    <a target="_blank" href="https://www.facebook.com/redbus.in/"><span class="fbicon icon-Facebook"></span></a>
    <a target="_blank" href="https://twitter.com/redBus_in"><span class="twittericon icon-Twitter"></span></a>
                        
                    </div>
                <div style="float: left">
                    <span>&#9400;</span>
                        
                </div>
            </div>      
        </div>
    </div>
</div>

        </footer>
    </section>
    <div class="msg-header">
        <div class="msg-success">
            <div>
                <em>✔</em>
                <span id="nf_success"></span>
            </div>
            <a href="javascript:void(0);" class="nf-close">✖</a>
        </div>
        <div class="msg-error">
            <div>
                <em>✖</em>
                <span id="nf_error"></span>
            </div>
            <a href="javascript:void(0);" class="nf-close">✖</a>
        </div>
        <div class="msg-info">
            <div>
                <em>¡</em>
                <span id="nf_info"></span>
            </div>
            <a href="javascript:void(0);" class="nf-close">✖</a>
        </div>
        <div class="msg-notice">
            <div>
                <em>⚠</em>
                <span id="nf_notice"></span>
            </div>
            <a href="javascript:void(0);" class="nf-close">✖</a>
        </div>
    </div>
        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TCFTX7"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-TCFTX7');</script>
        <!-- End Google Tag Manager -->
    <script>
        var walletBalConfig = {"BalanceText":"Wallet Balance","CurrencyLabel":null,"AbsolutePathList":["/","/SEARCH"],"IsTruncateBalance":true}; 
        var isRewardsEnabled = true;
        var calendarObj = null;
        var countryspecificdate = '2018/04/01';
        var jsloggerURL='//logs.redbus.com/logger/postErr';
        var callTripsApi ='True';
        var tripsRequestCount ='10';
        if(jsloggerURL && jsloggerURL!=="")
        {
      //  console.log(navigator.userAgent);
            window.onerror = function (msg, url, lineNo, columnNo, error) {
                var message ='';
                var string = msg.toLowerCase();
                var substring = "script error";
                if (string.indexOf(substring) > -1){
                    console.log('Script Error: See Browser Console for Detail');
                } else {
                     message = {
                        'Agent':'WEB_DIRECT',
                        'Message':msg,
                        'URL': url,
                        'Line':  lineNo,
                        'Column': columnNo,
                        'Error object': JSON.stringify(error),
                        'User Agent':navigator.userAgent,
                        'URL':location.href
                    };

                }
                /*var http = new XMLHttpRequest();
                var url = jsloggerURL;
                var params = JSON.stringify(message);
                http.open("POST", url, true);
                http.setRequestHeader("Content-type", "application/json");
                http.send(params);*/
                 var http = new XMLHttpRequest();
                var  o = "";
                for (var n in message){
                    o += encodeURIComponent(n) + "=" + encodeURIComponent(message[n]) + "&";
                }
                var url = jsloggerURL+'?'+o;
                http.open("GET", url, true);
                http.setRequestHeader("Content-type", "application/json");
                http.send();
                return false;
            };
        }
    </script>
    <script src="../../static/js/rb/rbjs3.js" type="text/javascript"></script>
    <script src="../../static/js/rb/rbjs2.js" type="text/javascript"></script>    
    
    
    
     <script type="text/javascript">
     var otherPlatformMobile= {"lblEnterMobile":"Enter your mobile number below to download the redBus mobile app.","phoneCodeLbl":"Enter your mobile number","phoneCodeErrLbl2":"Please enter a valid phone code","lblMobilePlaceHolder":"Enter your mobile number","lblValidNumberErrorMessages":"Enter the mobile number|Invalid Mobile No","lblSendButton":"SMS me the link","lblSuccessMessage":"SMS sent with download link","lblErrorMessage":"Sorry ! please try again. We are facing issues in sending SMS","lblInitialMessage":"Will send you an SMS with a link to instantly download our app on your phone !","lblResentButton":"Resend Link"}; 
     var baStart='8';
     var baEnd='30';
     var brEnd='7'; 
     var resumeBookConfig='False';
     var isSEA='False';
     var isBookAgnRtn = 'True'
     var timeDelay = '5000'
     
    </script>
    <script src="../../static/js/rb/rbjs1.js" type="text/javascript"></script>

    
</body>
</html>
