<!DOCTYPE html>
<html>
<head>
<title></title>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Bus Ticket Reservation Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="../static/css/viewseat/jquery.seat-charts.css">
<link href="../static/css/viewseat/style.css" rel="stylesheet" type="text/css" media="all" />
<script src="../static/js/viewseat/jquery-1.11.0.min.js"></script>
<script src="../static/js/viewseat/jquery.seat-charts.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- DNS prefetch -->
    <link rel="dns-prefetch" href="//s1.rdbuz.com" />
    <link rel="dns-prefetch" href="//s2.rdbuz.com" />
    <link rel="dns-prefetch" href="//s3.rdbuz.com" />

    <link href="../../../favicon.ico" rel="shortcut icon" />
    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="Keywords" content="online bus ticket booking, bus booking, volvo ac bus booking, bus ticket booking, bus tickets" />
    <meta id="page_name" content="HOME" />

    <meta property="og:title" content="India&#x27;s No #1 Bus Ticket Booking Company, Volvo, AC and RTC Buses - redBus.in" />
    <meta property="og:type" content="company" />
    <meta property="og:url" content="www.redbus.in" />
    <meta property="og:image" href="http://s3.rdbuz.com/assets/images/logo/b_logo.png" />
    <meta property="og:site_name" content="redBus" />
    <meta property="og:description" content="Compare and Book online bus tickets in India. Find best prices and discounts on all Volvo, AC and sleeper buses in India." />
            <link rel="alternate" media="only screen and (max-width:640px)" href="https://m.redbus.in/" />
            <meta name="google-site-verification" content="xF6UvOJWcDUSenssBr8T9uGa_htW-2h3XbU9FAv9sQ8" />
            <script type='application/ld+json'>
                {

"@context":"http://schema.org",
                "@type":"Organization",
                "name":"redBus India",
                "url":"https://www.redbus.in/",
                "foundingDate":"2006",
                "parentOrganization":[{
"@type":"Organization",
"name":"Ibibo Group Pvt Ltd"                }
                ],   

                "address":{
"type":"PostalAddress",
"streetAddress":"3rd Floor Karle Premium",
"addressLocality":"#1 Old Airport Road, Opp. Manipal Hospital, Kodihalli",
"addressRegion":"Bangalore",
"postalCode":"560008",
"addressCountry":"INDIA"                },
                "contactPoint":[{
"@type":"ContactPoint",
"telephone":"+91 80 39412345",
"contactType":"Customer Service ( Call Center)",
"email":"support@redbus.in"}],
                "sameAs":[
                
"https://www.facebook.com/redBus.in/",
"https://en.wikipedia.org/wiki/Redbus.in/"                
                ]
                }
            </script>
                <meta name="robots" content="noodp" />
    <link href="../static/css/rb/stylerb.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Book Bus Travels, AC Volvo Bus, Hotels &amp; Bus Hire - redBus</title>
<!-- DNS prefetch -->
<link rel="dns-prefetch" href="//s1.rdbuz.com" />
<link rel="dns-prefetch" href="//s2.rdbuz.com" />
<link rel="dns-prefetch" href="//s3.rdbuz.com" />
<link href="../../../favicon.ico" rel="shortcut icon" />
<!--[if lt IE 9]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<meta name="Keywords" content="online bus ticket booking, bus booking, volvo ac bus booking, bus ticket booking, bus tickets" />
<meta name="description" content="redBus India world&#x2019;s largest online bus ticketing platform offers bus travels, ac volvo bus, hotels &amp; bus hire at best rates. Easy cancellation &amp; Instant refund." />
<link rel="canonical" href="https://www.redbus.in">

    <script>
        var page = 'HOME';
    </script>

                  <!--session stack code snippet.to be put in head always-->
        <script type="text/javascript">
!function(a,b){var c=window;c.SessionStack=a,c[a]=c[a]||function(){
c[a].q=c[a].q||[],c[a].q.push(arguments)},c[a].t=b;var d=document.createElement("script");
d.async=1,d.src="https://cdn.sessionstack.com/sessionstack.js";
var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(d,e);
}("sessionstack","04803706d7f74b008634525dde31ca98");
</script>
<!--session stack code snippet.to be put in head always-->


</head>
<body>
<header id="rh_header" class="home-only-header fixer1">
            <div class="main-header-row">
                <div class="main-header clearfix">
    <a href="javascript:void(0)" class="redbus-logo home-redirect">redbus</a>
    <div class="fl clearfix" id="page_main_header">
        <nav class="product-nav fl">
            <ul>
                <li><a href="\dboard" title="redBus" class="selectedBus site-links"><style>.rest .promotions-wrap{margin-left:44px;margin-top:-96px;}</style>{{user}} </a></li>
                <li><a href="\memout" title="redBus" class="selectedBus site-links"><style>.rest .promotions-wrap{margin-left:44px;margin-top:-96px;}</style>Sign Out </a></li>
            </ul>
        </nav>

    </div>
<!-- 
    <div class="corner-wrapper fr">
                    <div class="fr config-div" tabindex="0" id="select_box_sign">
                        <div id="signin_dd">
                            <div class="fr signin-block" id="signin-block">
                                <i id="i-icon-profile" class="icon-profile-new-unsigned "></i>
                                                                
                                    <div id="walletbalance" class="walletBalanceHeader hide">
                                        <div id="BalanceText">  </div>
                                        <div id="Balance"> </div>
                                    </div>                                   
                                

                                <div id="sign-in-icon-down" class="icon-down icon ich dib icon-down_WO_BAL">
                                    <div class="hid-config-sign hide" id="hc">
                                        <div class='toparrowhead-sign'></div>
                                        <ul class="config-list">

                                                <li id="signInLink" class="config-options" href = "{{url_for('dboard')}}">Dashboard</li>
                                                <li id="signInLink" class="config-options" href = "/memout">Sign Out</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        
        <div class="fr config-div manageBookHeader" tabindex="0" id="select_box_managebooking">
            <div id="manageHeaderdd">
                <div class="manageHeaderLbl" href = "{{url_for('dboard')}}">
                Manage Booking
                </div>
                
        </div>
        </div>
        
    </div> -->
</div>

            </div>
        </header>

<div class="content">
	<h1></h1>
	<div class="main">
		<h2>Book Your Seat Now!</h2>
		<div class="wrapper">
			<div id="seat-map">
				<div class="front-indicator"><h3>Front</h3></div>
			</div>
			<div class="booking-details">
						<div id="legend"></div>
						<h3> Selected Seats (<span id="counter">0</span>):</h3>
						<form action = "{{ url_for('viewseats',id=id) }}" method="post">
							<input type="hidden" id="selected-seats" name="seatlist" class="scrollbar scrollbar1">
							
							Total: <input type="text" id="total" name="tot" placeholder="0">
							
							<button type="submit" class="checkout-button">Pay Now</button>
                        </form>
			</div>
			<div class="clear"></div>
		</div>
		<script>
				var firstSeatLabel = 1;
				var map = [];
				var y = parseInt('{{lent}}');
				for (var i=0;i<parseInt(y/4);i++){
					
					if(i<3){
						map[i] = 'ff_ff';
					}
					else{
						map[i] = 'ee_ee'
					}
				}
				if(y%4==1)
					map[i] = 'e____';
				else if(y%4==2)
					map[i] = 'ee___'
				else if(y%4==3)
					map[i] = 'eee__';

				var self = this;
                var str;
				$(document).ready(function() {
					var $cart = $('#selected-seats'),
						$counter = $('#counter'),
						$total = $('#total'),
						$x = y,
						sc = $('#seat-map').seatCharts({
						map: self.map,
						seats: {
							f: {
								price   : 100,
								classes : 'first-class', //your custom CSS class
								category: 'First Class'
							},
							e: {
								price   : 40,
								classes : 'economy-class', //your custom CSS class
								category: 'Economy Class'
							}					
						
						},
						naming : {
							top : false,
							getLabel : function (character, row, column) {
								return firstSeatLabel++;
							},
						},
						legend : {
							node : $('#legend'),
							items : [
								[ 'f', 'available',   'First Class' ],
								[ 'e', 'available',   'Economy Class'],
								[ 'f', 'unavailable', 'Already Booked']
							]					
						},
						click: function () {
							if (this.status() == 'available') {
								//let's create a new <li> which we'll add to the cart items
								
								str = this.settings.label + ';';
								document.getElementById('selected-seats').value+=str;
								/*
								 * Lets update the counter and total
								 *
								 * .find function will not find the current seat, because it will change its stauts only after return
								 * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
								 */
								$counter.text(sc.find('selected').length+1);
								//$total.text(recalculateTotal(sc)+this.data().price);
								document.getElementById('total').value=recalculateTotal(sc)+this.data().price;
								return 'selected';
							} else if (this.status() == 'selected') {
								//update the counter
								$counter.text(sc.find('selected').length-1);
								//and total
								$total.text(recalculateTotal(sc)-this.data().price);
                                var u = String(document.getElementById('selected-seats').value);
                                $cart.text(u.substring(0,u.length - str.length));
                                document.getElementById('selected-seats').value = u.substring(0,u.length - str.length);
                                document.getElementById('total').value  = recalculateTotal(sc)-this.data().price;
								//remove the item from our cart
								$('#cart-item-'+this.settings.id).remove();
							
								//seat has been vacated
								return 'available';
							} else if (this.status() == 'unavailable') {
								//seat has been already booked
								return 'unavailable';
							} else {
								return this.style();
							}
						}
					});

					//this will handle "[cancel]" link clicks
					$('#selected-seats').on('click', '.cancel-cart-item', function () {
						//let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
						sc.get($(this).parents('li:first').data('seatId')).click();
					});

					//let's pretend some seats have already been booked
					sc.get({{list|safe}}).status('unavailable');
			
			});

			function recalculateTotal(sc) {
				var total = 0;
			
				//basically find every selected seat and sum its price
				sc.find('selected').each(function () {
					total += this.data().price;
				});
				
				return total;
			}
		</script>
	</div>
</div>
<script src="../static/js/viewseat/jquery.nicescroll.js"></script>
<script src="../static/js/viewseat/scripts.js"></script>

</body>
</html>
